@font-face {
    font-family: RobotoLight; 
    src: url(../fonts/RobotoLight.ttf); 
   }
@font-face {
	font-family: RobotoMedium; 
	src: url(../fonts/RobotoMedium.ttf); 
}
@font-face {
	font-family: RobotoBold; 
	src: url(../fonts/RobotoBold.ttf); 
}
@font-face {
	font-family: MyriadRegular; 
	src: url(../fonts/MyriadRegular.ttf); 
}
@font-face {
	font-family: LetterGothic; 
	src: url(../fonts/LetterGothic.ttf); 
}
